<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.plugins.flow.BuildFlow plugin="build-flow-plugin@0.18">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers/>
  <icon/>
  <dsl>max = 200
n = 3

for (loopcounter=1;loopcounter&lt;=max ; loopcounter++) {

jobsmap = [:]
jobsclosures = []

for (int i = 0; i &lt; loopcounter ; i++) {
	jobsclosures &lt;&lt;{ jobsmap.put(&quot;testrun&quot;+String.valueOf(i),build( &quot;test2&quot;,NUMBER : String.valueOf(i*1000)))}
}


guard {
    parallel (
        jobsclosures      
    )
} rescue {
}

sleep(10000)

}
</dsl>
  <buildNeedsWorkspace>false</buildNeedsWorkspace>
</com.cloudbees.plugins.flow.BuildFlow>